$pswp__background-color: #fff;
$pswp__placeholder-color: #fff;
$pswp__template-filemame: light-skin;
$pswp__counter-color: #000;
$pswp__caption-small-color: #222;
$pswp__caption-color: #333;

@import 'main';
@import 'default-skin/default-skin';

.pswp--zoom-allowed[data-zoom="false"] .pswp__img {
	cursor: default;
}
