$pswp__background-color: #fff;
$pswp__placeholder-color: #fff;
$pswp__template-filename: light-skin;
$pswp__counter-color: #000;
$pswp__caption-small-color: #222;
$pswp__caption-color: #333;

@import "PhotoSwipe/src/css/main";
@import "PhotoSwipe/src/css/default-skin/default-skin";
@import "Addition";
